.backspace {
  background-image: url(../img/free-icon-backspace-3161403.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 20px;
  width: 30px;
}